@model DataLibrary.Model.OrderModel

<h2>Delete</h2>

@if (Model is null)
{
    <h3>The requested record was not found</h3>
}

else
{
    <div class="h5">
        Are you sure you want to delete the order you place on @Model.OrderDate ?
    </div>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
}
